# Python virtual environment
.venv/
venv/
ENV/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
Personal_Projects/Tip_Calculator/build/
__pycache__/
*.pyc
*.spec
build/
dist/
.env
# Large raw data files
Data_Analysis_Projects/Korean_Sociodemographic_Analysis/data/Koweps_hpwc14_2019_beta2.sav