# Python virtual environment
.venv/
venv/
ENV/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
Personal_Projects/Tip_Calculator/build/
__pycache__/
*.pyc
*.spec
build/
dist/

# Large raw data files
Data_Analysis_Projects/data/*.sav